**Data Cleaning/Prep**
<br>
<br>
The first thing done to the data before anything was applying the text to columns function on the lottery numbers. Having each number be in a different cell will allow for easier creation of histograms later on to see how often each number appears in a winning combination. We can then load the lottery numbers into lists for export into spreadsheets to use in PowerBI. Since the original data comes from three sources with varying numbers of lottery numbers, a function is likely what we would want to use to make this work.

In [8]:
import pandas as pd

megamill = pd.read_csv('Lottery_Mega_Millions_Winning_Numbers__Beginning_2002_20240421.csv')
nypick10 = pd.read_csv('Lottery_Pick_10_Winning_Numbers__Beginning_1987_20240421.csv')
powball = pd.read_csv('Lottery_Powerball_Winning_Numbers__Beginning_2010_20240421.csv')

Each dataframe has its first column be a date for the drawing. The CSV's have had the lottery numbers broken up into individual cells where 'WinNum" is
part of the column name. We can write a function that takes in the dataframe, gets its column names, and indexes appreopriatey. We can also build in a conditional to take into account features of the PowerBall add MegaMillions drawings, like Mega Ball and Multiplier. Then

In [11]:
megamill

,Draw Date,WinNum 1,WinNum 2,WinNum 3,WinNum 4,WinNum 5,Mega Ball,Multiplier
0,4/16/2024,21,26,36,44,59,2,4.0
1,4/12/2024,1,12,14,18,66,16,2.0
2,4/9/2024,34,43,51,52,69,25,4.0
3,4/5/2024,20,30,54,63,65,14,3.0
4,4/2/2024,10,50,56,60,66,19,3.0
...,...,...,...,...,...,...,...,...
2280,5/31/2002,12,28,45,46,52,47,NaN
2281,5/28/2002,6,21,22,29,32,24,NaN
2282,5/24/2002,2,4,32,44,52,36,NaN
2283,5/21/2002,4,28,39,41,44,9,NaN
2284,5/17/2002,15,18,25,33,47,30,NaN

In [12]:
nypick10

,Draw Date,WinNum 1,WinNum 2,WinNum 3,WinNum 4,WinNum 5,WinNum 6,WinNum 7,WinNum 8,WinNum 9,...,WinNum 11,WinNum 12,WinNum 13,WinNum 14,WinNum 15,WinNum 16,WinNum 17,WinNum 18,WinNum 19,WinNum 20
0,4/20/2024,1,8,17,18,34,35,39,41,42,...,48,52,58,60,61,62,69,78,79,80
1,4/19/2024,1,3,5,10,14,16,21,27,32,...,39,42,49,54,60,62,67,73,74,77
2,4/18/2024,5,7,19,21,25,32,34,37,39,...,48,58,59,63,66,67,68,70,72,79
3,4/17/2024,1,7,10,14,15,17,20,21,23,...,29,53,55,57,58,65,67,69,79,80
4,4/16/2024,1,5,7,10,12,14,33,39,43,...,50,52,55,63,65,67,72,73,74,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13565,1/16/1987,2,7,10,12,24,27,30,32,36,...,41,43,47,60,61,62,64,69,72,78
13566,1/15/1987,2,4,8,10,15,23,25,26,28,...,36,38,49,51,57,59,72,74,78,80
13567,1/14/1987,5,7,8,25,27,28,32,36,38,...,51,52,53,55,58,59,60,72,74,77
13568,1/13/1987,4,11,14,19,22,23,26,34,40,...,43,45,58,60,63,64,72,74,77,79
13569,1/12/1987,5,12,15,18,20,25,26,33,34,...,48,49,52,54,57,62,65,69,71,76

In [13]:
powball

,Draw Date,WinNum 1,WinNum 2,WinNum 3,WinNum 4,WinNum 5,WinNum 6,Multiplier
0,4/20/2024,4,35,41,44,58,25,3.0
1,4/17/2024,24,29,44,47,54,2,2.0
2,4/15/2024,7,16,41,56,61,23,3.0
3,4/13/2024,7,33,40,43,69,10,5.0
4,4/10/2024,6,7,12,24,36,15,2.0
...,...,...,...,...,...,...,...,...
1612,2/17/2010,7,8,19,26,36,15,NaN
1613,2/13/2010,10,14,30,40,51,1,NaN
1614,2/10/2010,5,8,29,37,38,34,NaN
1615,2/6/2010,14,22,52,54,59,4,NaN
1616,2/3/2010,17,22,36,37,52,24,NaN

*CONCATENATE SECTIONS TOGETHER*

In [75]:
pow_nums = pd.lreshape(powball,
           {'Number' : ['WinNum 1', 'WinNum 2', 'WinNum 3', 'WinNum 4', 'WinNum 5', 'WinNum 6']}).drop(columns=['Multiplier'])
pow_mult = powball.get(['Draw Date', 'Multiplier'])

In [77]:
nypick10_nums = pd.lreshape(nypick10,
           {'Number' : ['WinNum 1', 'WinNum 2', 'WinNum 3', 'WinNum 4', 'WinNum 5', 'WinNum 6',
                       'WinNum 7', 'WinNum 8', 'WinNum 9', 'WinNum 10','WinNum 11','WinNum 12',
                       'WinNum 13','WinNum 14','WinNum 15','WinNum 16','WinNum 17','WinNum 18',
                       'WinNum 19','WinNum 20']})

In [79]:
mega_nums = pd.lreshape(megamill,
           {'Number' : ['WinNum 1', 'WinNum 2', 'WinNum 3', 'WinNum 4', 'WinNum 5']}).drop(columns=['Mega Ball', 'Multiplier'])
mega_mult = megamill.get(['Draw Date', 'Multiplier'])
mega_balls = megamill.get(['Draw Date', 'Mega Ball'])

With the data for each lottery broken down, we can write each to a spreadsheet for use in PowerBI.

In [97]:
# Writing the Powerball Data
pow_nums.to_excel('powerball numbers.xlsx', index=False, sheet_name='Powerball Numbers')
pow_mult.to_excel('powerball multipliers.xlsx', index=False, sheet_name='Powerball Multipliers')

# Writing the Mega Millions Data
mega_nums.to_excel('mega millions numbers.xlsx', index=False, sheet_name='Mega Millions Numbers')
mega_mult.to_excel('mega millions multipliers.xlsx', index=False, sheet_name='Mega Millions Multipliers')
mega_balls.to_excel('mega millions mega balls.xlsx', index=False, sheet_name='Mega Millions Mega Ball')

# Writing the NY Pick 10 Data
nypick10_nums.to_excel('ny pick 10 numbers.xlsx', index=False, sheet_name='NY Pick 10 Numbers')